body {
  background-image: url(./backgroung.jpg);
  background-size: cover; /* Tự động co giãn ảnh để phủ kín toàn bộ màn hình */
  background-position: center; /*Giữ ảnh luôn căn giữa màn hình */
  background-repeat: no-repeat; /* Không lặp lại ảnh nếu màn hình quá lớn */
  background-attachment: fixed; /* (Tùy chọn) Giữ cố định ảnh nền khi cuộn trang */
  min-height: 100vh; /* Đảm bảo chiều cao body luôn bằng 100% màn hình */
  margin: 0; /* Xóa khoảng trắng viền mặc định của trình duyệt */
}

.rainbow-text {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-text-stroke-width: 0.9px; /* Độ dày của viền */
  -webkit-text-stroke-color: rgb(60, 59, 59); /* Màu sắc của viền (nên chọn trắng hoặc đen để nổi bật) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
